@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700&amp;subset=cyrillic');



:root{
    --colorWhite: #fff;
    --colorPrimary: #00978F;
    --widthContent: 1200px;
    --fontFamily: 'Comfortaa', cursive;
    --fontSize: 13px;
}

:block(flex){
    display: flex;
    flex-flow: row wrap;
    &_direct_column{
    flex-flow: column nowrap;
     }
     &_center_center{
    align-items: center;
    justify-content: center;
      }
    &_center_start{
         align-items: center;
         justify-content: flex-start;
     }
}

body, html{
     font-family: var(--fontFamily);
     font-size: var(--fontSize);
 }