:block(menu){
    grid-column: 1;
    grid-row: 1;
    &:elem(flower){
    position: absolute;
    :block(image){
        width: 140px;
        height: 280px;
    }
    &_display_none{
    display: none;
     }
}
}